* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* global reset */

html {
	/* font-size: 10px; */
	/* NOTE: (10px / 16px) = 0.625 = 62.5% */
	font-size: 62.5%;
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
}
/* global defaults */

/* *************************** */
/* GENERAL REUSABLE COMPONENTS */
/* *************************** */

.heading-primary,
.heading-secondary,
.heading-tertiary {
	letter-spacing: -0.5px;
	color: #333;
	font-weight: 700;
}

.heading-primary {
	/* font-size: 52px; */
	font-size: 5.2rem;
	line-height: 1.05;
	margin-bottom: 3.2rem;
}

.heading-secondary {
	font-size: 4.4rem;
	line-height: 1.2;
	margin-bottom: 9.6rem;
}

.heading-tertiary {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}

.subheading {
	display: block;
	/* NOTE: span element is an inline element & needs to be changed to block to work with */

	font-size: 1.6rem;
	font-weight: 500;
	color: #cf711f;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	letter-spacing: 0.75px;
}

/* NOTE: Since its not a button but <a> tag link elements we got to define these link & visited pseudo class conditions */
.btn:link,
.btn:visited {
	display: inline-block;
	/* This inline elements shall get display: inline-block for proper width and sizing */
	font-size: 2rem;
	font-weight: 600;
	padding: 1.6rem 3.2rem;
	text-decoration: none;
	border-radius: 0.9rem;
	cursor: pointer;

	/* transition: all 0.5s; */
	/* NOTE: We get to either choose all or specific property to animate transition */
	transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
	background-color: #e67e22;
	color: #fff;
}

.btn--full:hover,
.btn--full:active {
	background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
	background-color: #fff;
	color: #555;
}

.btn--outline:hover,
.btn--outline:active {
	background-color: #fdf2e9;
	/* border: 3px solid #e67e22; */
	/* border needs to be inside. Outside border pushes items */
	/* NOTE: Trick to add border inside without disturbance*/
	box-shadow: inset 0 0 0 3px #fff;
}

.container {
	/* 1140px is the another standard as well */
	max-width: 120rem;
	padding: 0 3.2rem;
	margin: 0 auto;
}

.grid {
	display: grid;

	row-gap: 9.6rem;
	column-gap: 6.4rem;
}

.grid--center-v {
	align-items: center;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.link:link,
.link:visited {
	display: inline-block;
	color: #e67e22;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
}

.link:hover,
.link:active {
	border-bottom: 1px solid transparent;
}

.list {
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.list-item {
	font-size: 1.8rem;

	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.list-icon {
	width: 3rem;
	height: 3rem;
	color: #e67e22;
}

/* *************************** */
/* HELPER CLASSES              */
/* *************************** */

.margin-right-sm {
	margin-right: 1.6rem !important;
	/* NOTE: !important is added just to make sure it is not overriden by specificity */
}

.margin-bottom-md {
	margin-bottom: 4.8rem !important;
}

.center-text {
	text-align: center;
}

strong {
	font-weight: 500;
}
