/* 

--- 01 TYPOGRAPHY SYSTEM

Font sizes (px):
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98

- Font Weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line Heights:
Default: 1
Headline Small: 1.05
Medium: 1.2
Paragrapgh default: 1.6

- Letter Spacing
0.5px
0.75px

--- 02 COLORS

- Primary: 
#e67e22
- Tints: 
#fdf2e9 
#fae5d3
#eb984e
- Shades: 
#cf711f
#45260a
- Accents:
- Greys:
#888
#767676
#6f6f6f
#555
#333

--- 03 SHADOWS

0 2.rem 4.8rem rgba(0,0,0,0.075)

--- 04 BORDER-RADIUS
Default: 9px

--- 05 WHITESPACE


Spacing System (px):
2/4/8/12/16/24/32/48/64/80/96/128

*/

/* *************************** */
/* HEADER                      */
/* *************************** */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #fdf2e9;
	height: 9.6rem;
	padding: 0 4.8rem;
}

.logo {
	height: 2.2rem;
}

/* *************************** */
/* NAVIGATION                  */
/* *************************** */

.main-nav-list {
	list-style: none;

	display: flex;
	align-items: center;
	gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;

	text-decoration: none;
	color: #333;
	font-weight: 500;
	font-size: 1.8rem;

	transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
	color: #fff;
	background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
	background-color: #cf711f;
}

/* *************************** */
/* HERO SECTION                */
/* *************************** */

.section-hero {
	background-color: #fdf2e9;
	padding: 4.8rem 0 9.6rem 0;
}

.hero {
	/* width: 1300px; */
	max-width: 130rem;
	/* for fluid layout, width is max-width and 1300px is 130rem (1rem 10px based on html font-size CSS 62.5%)*/
	margin: 0 auto;
	padding: 0 3.2rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 9.6rem;
	align-items: center;
}

.hero-description {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.hero-img {
	width: 100%;
	/* 100% means it would fill hero-img-box container in full */
}

.delivered-meals {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	margin-top: 8rem;
}

.delivered-imgs {
	display: flex;
}

.delivered-imgs img {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 50%;
	margin-right: -1.6rem;
	/* NOTE: collide into each other trick */
	border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
	margin-right: 0;
	/* NOTE: override fix for the last photo colliding with text */
}

.delivered-text {
	font-size: 1.8rem;
	font-weight: 600;
}

.delivered-text span {
	color: #cf711f;
	font-weight: 700;
}

/* *************************** */
/* FEATURED IN SECTION         */
/* *************************** */

.section-featured {
	padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 2.4rem;
}

.logos img {
	height: 3.2rem;
	filter: brightness(0);
	/* makes all color black */
	opacity: 50%;
	/* NOTE: opacity knuckle */
}

.logos {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* *************************** */
/* HOW IT WORKS                */
/* *************************** */

.section-how {
	padding: 9.6rem 0;
}

.step-img-box {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	/* align the phone img to center */
}

.step-img-box::after,
.step-img-box::before {
	content: "";
	display: block;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 50%;
}

.step-img-box::before {
	width: 60%;
	/* height: 60%; */
	/* this does not work as it collapses to none */
	/* this is the trick that makes it work setting padding-bottom to issue an height for the element */
	padding-bottom: 60%;
	background-color: #fdf2e9;

	z-index: -2;
	/* NOTE: draw shape below the image */
}

.step-img-box::after {
	width: 50%;
	padding-bottom: 50%;
	background-color: #fae5d3;
	z-index: -1;
}

.step-img {
	width: 40%;
	/* allocates 50% of the step-img-box container */
}

.step-number {
	font-size: 8.6rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}

.step-description {
	font-size: 1.8rem;
	line-height: 1.8;
}

/* *************************** */
/* MEALS SECTION               */
/* *************************** */

.section-meals {
	padding: 9.6rem 0;
}

.meal {
	border-radius: 11px;
	overflow: hidden;
	/* NOTE: whatever flows should be hidden */
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	transition: all 0.3s;
	/* Compliments to meal:hover effect below */
}

.meal:hover {
	transform: translateY(-1rem);

	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.meal-content {
	padding: 3rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
	margin-bottom: 1.2rem;

	display: flex;
	gap: 4px;
}

.tag {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #333;
	border-radius: 1000px;
}

.tag--vegetarian {
	background-color: #51cf66;
}

.tag--vegan {
	background-color: #94d82d;
}

.tag--paleo {
	background-color: #ffd43b;
}

.meal-title {
	font-size: 2.4rem;
	color: #333;
	font-weight: 600;
	margin-bottom: 2.4rem;
}

.meal-attributes {
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.meal-attribute {
	font-size: 1.8rem;

	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.meal-icon {
	height: 2.4rem;
	width: 2.4rem;
	color: #cf711f;
	/* stroke does not work actually for the iconicons sets */
}

.meal-img {
	width: 100%;
}

.all-recipes {
	text-align: center;
	font-size: 1.8rem;
}

/* *************************** */
/* TESTIMONIALS SECTION        */
/* *************************** */

.section-testimonials {
	background-color: #fdf2e9;

	display: grid;
	grid-template-columns: 55fr 45fr;
}

.testimonials-container {
	padding: 9.6rem;
}

.testimonials {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 4.8rem;
	column-gap: 8rem;
}

.testimonial-img {
	width: 6.4rem;
	border-radius: 50%;
	margin-bottom: 1.2rem;
}

.testimonial-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 1.6rem;
}

.testimonial-name {
	font-size: 1.6rem;
	color: #6f6f6f;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
	padding: 1.6rem;
}

.gallery-item {
	overflow: hidden;
	/* NOTE: image enclosed by figure element is overflow hidden along figure boundry so image scaling is cut all around */
}

.gallery-item img {
	display: block;
	/* NOTE: img are inline elements in order to dismiss gap between them display block needs to be employed */
	width: 100%;

	transition: all 0.3s;
}

.gallery-item img:hover {
	transform: scale(1.05);
}

/* *************************** */
/* PRICING SECTION             */
/* *************************** */

.section-pricing {
	padding: 9.6rem 0;
}

.pricing-plan {
	border-radius: 11px;
	width: 75%;
}

.pricing-plan--starter {
	justify-self: end;
	border: 2px solid #fdf2e9;
	padding: 4.6rem;
}

.pricing-plan--complete {
	background-color: #fdf2e9;
	padding: 4.8rem;
	overflow: hidden;

	position: relative;
}

.pricing-plan--complete:after {
	content: "Best value";
	text-transform: uppercase;
	background-color: #ffd43b;
	color: #333;
	padding: 0.8rem 4.8rem;
	font-weight: 700;
	font-size: 1.4rem;
	transform: rotate(45deg);

	position: absolute;
	top: 6%;
	right: -11%;
}

.plan-header {
	text-align: center;
	margin-bottom: 4.8rem;
}

.plan-name {
	color: #cf711f;
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 0.75;
	margin-bottom: 3.2rem;
}

.plan-price {
	font-size: 6.2rem;
	font-weight: 600;
	color: #333;
	margin-bottom: 1.6rem;
}

.plan-price span {
	font-size: 3rem;
	font-weight: 500;
	margin-right: 0.8rem;
}

.plan-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: #6f6f6f;
}

.plan-sign-up {
	text-align: center;
	margin-top: 4.8rem;
}

.plan-details {
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 9.6rem;
}

/* *************************** */
/* FEATURE SECTION             */
/* *************************** */

.feature-icon {
	width: 3.2rem;
	height: 3.2rem;
	margin-bottom: 3.2rem;
	color: #cf711f;
	background-color: #fdf2e9;
	padding: 1.6rem;
	border-radius: 50%;
}

.feature-title {
	font-size: 2.4rem;
	color: #333;
	font-weight: 700;
	margin-bottom: 1.6rem;
}

.feature-text {
	font-size: 1.8rem;
	line-height: 1.8;
}

/* *************************** */
/* CTA SECTION                 */
/* *************************** */

.section-cta {
	padding: 4.8rem 0 12.8rem 0;
}

.cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
	border-radius: 11px;

	background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
	overflow: hidden;
}

.cta-text-box {
	color: #45260a;
	padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
	/* color: #45260a; */
	color: inherit;
	margin-bottom: 3.2rem;
}

.cta-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 4.8rem;
}

.cta-img-box {
	background-image: linear-gradient(
			to right bottom,
			rgba(235, 151, 78, 0.4),
			rgba(230, 125, 34, 0.4)
		),
		url("../img/eating.jpg");
	background-size: cover;
	background-position: center;
}

.cta-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3.2rem;
	row-gap: 2.4rem;
}

.cta-form label {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
	width: 100%;
	padding: 1.2rem;
	font-size: 1.8rem;
	font-family: inherit;
	color: inherit;
	/* NOTE: input and button elements do not inherit by default the font definitions from their parents. Inherit is used to force it */
	border: none;
	background-color: #fdf2e9;
	border-radius: 9px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
	color: #aaa;
}

.cta-form button {
	font-family: inherit;
}

.cta input:focus {
	outline: none;
	/* outline: 2px dotted;
	outline-offset: 1px; */
	box-shadow: inset 0 0 0 0.3rem rgb(69, 38, 10, 0.5);
}

.cta btn:focus {
	outline: none;
	/* outline: 2px dotted;
	outline-offset: 1px; */
	box-shadow: inset 0 0 0 0.3rem rgb(253, 242, 233, 0.5);
}

/* *************************** */
/* FOOTER SECTION              */
/* *************************** */

.footer {
	padding: 12.8rem 0;
	border-top: 1.5px solid #eee;
}

.grid--footer {
	grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
	display: flex;
	flex-direction: column;
}

.footer-logo {
	display: block;
	/* NOTE: due to <a> element being inline-element and use margin property */
	margin-bottom: 3.2rem;
}

.social-links {
	list-style: none;
	display: flex;
	gap: 2.4rem;
}

.social-icon {
	height: 2.4rem;
	width: 2.4rem;
}

.copyright {
	font-size: 1.4rem;
	line-height: 1.6;
	color: #767676;
	margin-top: auto;
}

.footer-heading {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 4rem;
}

.contacts {
	font-style: normal;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6;
}

.address {
	margin-bottom: 2.4rem;
}

.footer-nav {
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
	text-decoration: none;
	font-size: 1.6rem;
	color: #767676;
	transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
	color: #555;
}
